:root {
  color-scheme: light dark; /* both supported */
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
  }

  body,
  a {
    color: #eeeeee;
  }

  footer {
    background: #eeeeee;
  }

  footer a {
    color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
  }

  body,
  a {
    color: #121212;
  }

  footer {
    background: #121212;
  }

  footer a {
    color: #eeeeee;
  }
}
